snippet ifmain
def $1():
    pass

if __name__ == '__main__':
    ${1:main}()
endsnippet

snippet blueprint
from flask import Blueprint

$1 : Blueprint = Blueprint("$2", __name__)

from . import routes
endsnippet

snippet route
@app.route('/$1')
def $2():
    pass
endsnippet

snippet routep
@app.route('/$1', methods=['POST'])
def $2():
    pass
endsnippet

snippet routegp
@app.route('/$1', methods=['GET', 'POST'])
def $2():
    pass
endsnippet
